.box{
width: 700px;
margin: auto;
background-color: rgb(224, 241, 255);
padding: 30px;
}
body{
    background-image: url("https://i.pinimg.com/originals/40/02/64/400264de4ca8fd8bbf12d905c622bfba.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}
.menu{
    background-color: rgb(188, 225, 255);
    line-height: 50px;
}
.menu a{
    text-decoration: none;
    color: rgb(94, 169, 255);
    font-size: 25px;
    padding: 10px 20px;
    display: inline-block;
}
.menu a:hover{
color: aqua;
background-color: rgb(212, 252, 255);
border-radius: 20px;
}
.link a{
    color: rgb(46, 178, 255);
}
.link a:hover{
    color: rgb(25, 86, 255);
}
.link{
    text-align: right;
}
.text{
    text-align: justify;
}
.container img{
    float: left;
    width: 200px;
    margin-right: 20px;
}
