.box{
width: 700;
margin: auto;
background-color: rgb(224, 241, 255);
padding: 30px;
}
.body{
    background-image: url("https://th.bing.com/th/id/OIP.-1welzAyGWhAVuHANvjlVQHaFj?pid=ImgDet&w=660&h=495&rs=1");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}
.menu{
    background-color: rgb(188, 225, 255);
    line-height: 50px;
}
.menu a{
    text-decoration: none;
    color: rgb(94, 169, 255);
    font-size: 25px;
    padding: 10px 20px;
    display: inline-block;
}
.menu a:hover{
color: aqua;
background-color: rgb(212, 252, 255);
border-radius: 20px;
}
.link a{
    color: rgb(46, 178, 255);
}
.link a:hover{
    color: rgb(25, 86, 255);
}
.link{
    text-align: right;
}
.text{
    text-align: justify;
}
